@font-face {
  font-family: 'League Mono';
  src: url('./files/LeagueMono-Thin.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'League Mono';
  src: url('./files/LeagueMono-UltraLight.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'League Mono';
  src: url('./files/LeagueMono-Light.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'League Mono';
  src: url('./files/LeagueMono-Regular.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'League Mono';
  src: url('./files/LeagueMono-Medium.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'League Mono';
  src: url('./files/LeagueMono-SemiBold.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'League Mono';
  src: url('./files/LeagueMono-Bold.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'League Mono';
  src: url('./files/LeagueMono-ExtraBold.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}
